
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #308aff;
    color: #fff;
    padding: 30px;
    text-align: center;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5em;
}

.main {
    background-color: #ddd;
    height: 5000px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    clear: both;
}

.taigrys
{
    width: 100%;
    height: 500px;
    text-align: center;   
}

.taigrystext
{
    padding-top: 85px;
    margin-left: 250px;
    font-size: x-large;
    width: 400px;
    height: 250px;
    float: left;
}

.taigryszdj
{
    margin-top: 80px;
    margin-right: 350px;
    width: 230px;
    height: 230px;
    float: right;
    border-radius: 50px;
    transition: all 500ms ease;
    user-select: none;
}

.taigryszdj:hover
{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgb(16, 164, 255);
    animation: zdjpuls 3s  infinite;
}

@keyframes zdjpuls
{
    0%{box-shadow: 0px 0px 20px rgb(16, 164, 255);}
    50%{box-shadow: 0px 0px 35px rgb(16, 164, 255);}
    100%{box-shadow: 0px 0px 20px rgb(16, 164, 255);}
}

.msg
{
    background-color: rgb(255, 219, 219);
    width: 100%;
    height: 600px;
    text-align: center; 
}

.zdjgaba
{
    position: relative;
    top: -110px;
    transform: scale(0.8);
    transition: all 500ms ease;
}

.zdjgaba:hover
{
    transform: scale(0.9);
}

.msgtext
{
    float: left;
    margin-left: 200px;
}

.msg
{
    box-shadow: 0 -20px 25px rgb(255, 219, 219);
}
